src/engine/aa/wsdl/LoyaltyMemberInformationV6.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://custhub.ct.aa.com/LoyaltyMemberInformationV6" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdltns="http://custhub.ct.aa.com/LoyaltyMemberInformationV6/WSDL" targetNamespace="http://custhub.ct.aa.com/LoyaltyMemberInformationV6/WSDL" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
<!-- ================================================ -->
<!-- This file was generated by Progress DataXtend SI -->
<!-- ================================================ -->

<!-- Export Configuration options -->
<!-- ============================ -->
<!-- complex types only            - false -->
<!-- include required rules        - true -->
<!-- include reverse relationships - false -->
<!-- export with weak typing       - false -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://custhub.ct.aa.com/LoyaltyMemberInformationV6"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 targetNamespace="http://custhub.ct.aa.com/LoyaltyMemberInformationV6">

   <!-- The type: MemberInformation.AAdvantageAccountEnrollment -->
   <xs:element name="AAdvantageAccountEnrollment" type="tns:AAdvantageAccountEnrollment"/>
   <xs:complexType name="AAdvantageAccountEnrollment">
      <xs:annotation>
         <xs:documentation>
AN AADVANTAGE ACCOUNT ENROLLEMENT is the act of an individual customer participating in the AADVANTAGE loyalty program. As a result of this enrollment the member becomes the recipient of the program benefits.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="LoyaltyAccountNumber" type="xs:string"/>
         <xs:element name="LoyaltyProgramEnrollmentDate" type="xs:date" minOccurs="0"/>
         <xs:element name="LastActivityDate" type="xs:date" minOccurs="0"/>
         <xs:element name="MergeStatusCode" type="xs:string" minOccurs="0"/>
         <xs:element name="AccountStatusCode" type="xs:string"/>
         <xs:element name="SecurityStatusCode" type="xs:string" minOccurs="0"/>
         <xs:element name="LoyaltyAccountCommentCode" type="xs:string" minOccurs="0"/>
         <xs:element name="LoyaltyAccountCommentExistsFlag" type="xs:boolean" minOccurs="0"/>
         <xs:element name="MemberAccountMerger" type="tns:MemberAccountMerger" minOccurs="0"/>
         <xs:element name="EliteStatus" type="tns:EliteStatus" minOccurs="0"/>
         <xs:element name="MemberMillionMileLevel" type="tns:MemberMillionMileLevel" minOccurs="0"/>
         <xs:element name="MemberPartnerProgramProfile" type="tns:MemberPartnerProgramProfile" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="MemberActivitySummary" type="tns:MemberActivitySummary" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="MarketingSalesCityCode" type="xs:string" minOccurs="0"/>
	 <xs:element name="PartnerStratificationBenefits" type="tns:PartnerStratificationBenefits" minOccurs="0" maxOccurs="unbounded"/>         
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.AAdvantageMember -->
   <xs:element name="AAdvantageMember" type="tns:AAdvantageMember"/>
   <xs:complexType name="AAdvantageMember">
      <xs:annotation>
         <xs:documentation>
AN AADVANTAGE MEMBER is a CUSTOMER LOYALTY MEMBER who is a member of the AADVANTAGE loyalty program.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="tns:CustomerLoyaltyMember">
            <xs:sequence>
               <xs:element name="AAdvantageAccountEnrollment" type="tns:AAdvantageAccountEnrollment"/>
               <xs:element name="PreferredSeatFlag" type="xs:boolean" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: MemberInformationV2.Benefits -->
   <xs:element name="Benefits" type="tns:Benefits"/>
   <xs:complexType name="Benefits">
      <xs:sequence>
         <xs:element name="BenefitCode" type="xs:string" minOccurs="0"/>
         <xs:element name="BenefitSourceId" type="xs:string" minOccurs="0"/>
         <xs:element name="EffectiveDate" type="xs:date" minOccurs="0"/>
         <xs:element name="ExpirationDate" type="xs:date" minOccurs="0"/>
         <xs:element name="MergeCode" type="xs:string" minOccurs="0"/>
         <xs:element name="BenefitDesc" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformationV2.CustomerLoyaltyMember -->
   <xs:element name="CustomerLoyaltyMember" type="tns:CustomerLoyaltyMember" abstract="true"/>
   <xs:complexType name="CustomerLoyaltyMember" abstract="true">
      <xs:annotation>
         <xs:documentation>
A CUSTOMER LOYALTY MEMBER is a individual customer that participates in  company sponsored loyalty programs.  The member is the recipient of the program benefits and would be represented as a CUSTOMER LOYALTY MEMBER.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="LoyaltyProgram" type="tns:LoyaltyProgram"/>
         <xs:element name="LoyaltyMemberName" type="tns:LoyaltyMemberName" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.EliteStatus -->
   <xs:element name="EliteStatus" type="tns:EliteStatus"/>
   <xs:complexType name="EliteStatus">
      <xs:sequence>
         <xs:element name="EliteStatusCode" type="xs:string"/>
         <xs:element name="EliteStatusDescription" type="xs:string" minOccurs="0"/>
         <xs:element name="EliteProgressExpirationDate" type="xs:date" minOccurs="0"/>
         <xs:element name="EliteStatusExpirationDate" type="xs:date" minOccurs="0"/>
         <xs:element name="LifetimeVestedStatus" type="xs:string" minOccurs="0"/>
         
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.EnrollmentSource -->
   <xs:element name="EnrollmentSource" type="tns:EnrollmentSource"/>
   <xs:complexType name="EnrollmentSource">
      <xs:sequence>
         <xs:element name="ProgramEnrollmentCode" type="xs:string"/>
         <xs:element name="EnrollmentSourceDescription" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.FaultType -->
   <xs:element name="FaultType" type="tns:FaultType"/>
   <xs:complexType name="FaultType">
      <xs:attribute name="errorCd"  use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="errorType"  use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="B"/>
               <xs:enumeration value="S"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="errorMessage"  use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <!-- The type: MemberInformation.ListResponseHdrStatusCodeType -->
   <xs:simpleType name="ListResponseHdrStatusCodeType">
      <xs:restriction base="xs:decimal">
         <xs:enumeration value="0"/>
         <xs:enumeration value="10"/>
         <xs:enumeration value="11"/>
         <xs:enumeration value="12"/>
         <xs:enumeration value="13"/>
         <xs:enumeration value="99"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: MemberInformation.ListResponseHdrStatusMessageType -->
   <xs:simpleType name="ListResponseHdrStatusMessageType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Invalid WSDL version"/>
         <xs:enumeration value="No Results"/>
         <xs:enumeration value="Partial Results"/>
         <xs:enumeration value="Schema Validation Error"/>
         <xs:enumeration value="Success"/>
         <xs:enumeration value="Unknown Error"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: MemberInformation.ListResponseHdrStatusType -->
   <xs:element name="ListResponseHdrStatusType" type="tns:ListResponseHdrStatusType"/>
   <xs:complexType name="ListResponseHdrStatusType">
      <xs:sequence>
         <xs:element name="Code" type="tns:ListResponseHdrStatusCodeType"/>
         <xs:element name="Message" type="tns:ListResponseHdrStatusMessageType"/>
         <xs:element name="Info" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.ListResponseHeaderType -->
   <xs:element name="ListResponseHeaderType" type="tns:ListResponseHeaderType"/>
   <xs:complexType name="ListResponseHeaderType">
      <xs:complexContent>
         <xs:extension base="tns:ResponseHeaderType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: MemberInformation.LoyaltyMemberName -->
   <xs:element name="LoyaltyMemberName" type="tns:LoyaltyMemberName"/>
   <xs:complexType name="LoyaltyMemberName">
      <xs:sequence>
      	<xs:element name="LoyaltyMemberNameChangeDate" type="xs:date"
      		minOccurs="0" />
      	<xs:element name="FirstName" type="xs:string" minOccurs="0"></xs:element>
      	<xs:element name="MiddleName" type="xs:string" minOccurs="0"></xs:element>
      	<xs:element name="LastName" type="xs:string" minOccurs="0"></xs:element>
      	<xs:element name="Prefix" type="xs:string" minOccurs="0"></xs:element>
      	<xs:element name="Suffix" type="xs:string" minOccurs="0"></xs:element>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.LoyaltyProgram -->
   <xs:element name="LoyaltyProgram" type="tns:LoyaltyProgram"/>
   <xs:complexType name="LoyaltyProgram">
      <xs:annotation>
         <xs:documentation>
A direct or indirect marketing tool that provides awareness of AMR products and services to customers or potential customers in order to generate activity and maintain customer loyalty.

One way that a program may be marketed is by offering promotions.  These promotions offer the customers an incentive over and above the incentive
offered by the governing program to use AMR products or services.

Examples:
AAdvantage
Airpass
Admiral&apos;s Club
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="LoyaltyProgramCode" type="xs:string"/>
         <xs:element name="AirpassCompanionIndicator" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="EnrollmentSource" type="tns:EnrollmentSource" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.LoyaltyProgramPartner -->
   <xs:element name="LoyaltyProgramPartner" type="tns:LoyaltyProgramPartner"/>
   <xs:complexType name="LoyaltyProgramPartner">
      <xs:sequence>
         <xs:element name="LoyaltyProgramPartnerCode" type="xs:string"/>
         <xs:element name="LoyaltyProgramPartnerName" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.LoyaltyProgramTimePeriod -->
   <xs:element name="LoyaltyProgramTimePeriod" type="tns:LoyaltyProgramTimePeriod"/>
   <xs:complexType name="LoyaltyProgramTimePeriod">
      <xs:sequence>
         <xs:element name="LoyaltyProgramTimePeriodName" type="tns:LoyaltyProgramTimePeriodNameEnum"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.LoyaltyProgramTimePeriodNameEnum -->
   <xs:simpleType name="LoyaltyProgramTimePeriodNameEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="After AAdvantage Program Cutover Date"/>
         <xs:enumeration value="After Million Miler Cutover Date"/>
         <xs:enumeration value="Before AAdvantage Program Cutover Date"/>
         <xs:enumeration value="Before Million Miler Cutover Date"/>
         <xs:enumeration value="Previous Calendar Year"/>
         <xs:enumeration value="Program To Date"/>
         <xs:enumeration value="Program To Previous Month"/>
         <xs:enumeration value="Year To Date"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: MemberInformation.MemberAccountMerger -->
   <xs:element name="MemberAccountMerger" type="tns:MemberAccountMerger"/>
   <xs:complexType name="MemberAccountMerger">
      <xs:sequence>
         <xs:element name="ToLoyaltyAccountNumber" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.MemberActivitySummary -->
   <xs:element name="MemberActivitySummary" type="tns:MemberActivitySummary"/>
   <xs:complexType name="MemberActivitySummary">
      <xs:sequence>
         <xs:element name="MemberSummaryDetail" type="tns:MemberSummaryDetail" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.MemberInformationResponseStatus -->
   <xs:element name="MemberInformationResponseStatus" type="tns:MemberInformationResponseStatus"/>
   <xs:complexType name="MemberInformationResponseStatus">
      <xs:sequence>
         <xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Code" type="xs:string"/>
         <xs:element name="Message" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.MemberInformationResponseStatusCodeEnum -->
   <xs:simpleType name="MemberInformationResponseStatusCodeEnum">
      <xs:restriction base="xs:int">
         <xs:enumeration value="40"/>
         <xs:enumeration value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: MemberInformation.MemberInformationResponseStatusMessageEnum -->
   <xs:simpleType name="MemberInformationResponseStatusMessageEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Success"/>
         <xs:enumeration value="Provider System Error"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: MemberInformation.MemberInformationRetrieveRequest -->
   <xs:element name="MemberInformationRetrieveRequest" type="tns:MemberInformationRetrieveRequest"/>
   <xs:complexType name="MemberInformationRetrieveRequest">
      <xs:complexContent>
         <xs:extension base="tns:RequestHeaderType">
            <xs:sequence>
               <xs:element name="MemberInformationRetrieveRequestItem" type="tns:MemberInformationRetrieveRequestItem" maxOccurs="unbounded"/>
               <xs:element name="AuditID" >
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="AuthorizationID" type="xs:string"/>
               <xs:element name="AuthorizationPassword" type="xs:string"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: MemberInformation.MemberInformationRetrieveRequestItem -->
   <xs:element name="MemberInformationRetrieveRequestItem" type="tns:MemberInformationRetrieveRequestItem"/>
   <xs:complexType name="MemberInformationRetrieveRequestItem">
      <xs:sequence>
         <xs:element name="AAdvantageNumber">

         	<xs:simpleType>
         		<xs:restriction base="xs:string">
         			<xs:maxLength value="7"></xs:maxLength>
         		</xs:restriction>
         	</xs:simpleType>
         </xs:element>
         <xs:element name="AAdvantagePassword"  minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="8"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.MemberInformationRetrieveResponse -->
   <xs:element name="MemberInformationRetrieveResponse" type="tns:MemberInformationRetrieveResponse"/>
   <xs:complexType name="MemberInformationRetrieveResponse">
      <xs:complexContent>
         <xs:extension base="tns:ListResponseHeaderType">
            <xs:sequence>
               <xs:element name="MemberInformationRetrieveResult" type="tns:MemberInformationRetrieveResult" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: MemberInformation.MemberInformationRetrieveResult -->
   <xs:element name="MemberInformationRetrieveResult" type="tns:MemberInformationRetrieveResult"/>
   <xs:complexType name="MemberInformationRetrieveResult">
      <xs:sequence>
      	<xs:element name="MemberInformationResponseStatus"
      		type="tns:MemberInformationResponseStatus" />
      	<xs:element name="MemberInformationRetrieveRequestItem"
      		type="tns:MemberInformationRetrieveRequestItem" />
      	<xs:element name="CustomerLoyaltyMember"
      		type="tns:CustomerLoyaltyMember" minOccurs="0" />
      	<xs:element name="CustomerMembership"
      		type="tns:CustomerMembership" maxOccurs="1" minOccurs="0">
      	</xs:element>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.MemberMillionMileLevel -->
   <xs:element name="MemberMillionMileLevel" type="tns:MemberMillionMileLevel"/>
   <xs:complexType name="MemberMillionMileLevel">
      <xs:sequence>
         <xs:element name="TotalMillionMilerMiles" type="xs:string"/>
		 <xs:element name="MillionMileLevelCode" type="xs:string"/>
         <xs:element name="MillionMileLevelEffectiveDate" type="xs:date" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.MemberPartnerProgramProfile -->
   <xs:element name="MemberPartnerProgramProfile" type="tns:MemberPartnerProgramProfile"/>
   <xs:complexType name="MemberPartnerProgramProfile">
      <xs:sequence>
         <xs:element name="PartnerProgramParticipation" type="tns:PartnerProgramParticipation"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.MemberSummaryByEliteQualification -->
   <xs:element name="MemberSummaryByEliteQualification" type="tns:MemberSummaryByEliteQualification"/>
   <xs:complexType name="MemberSummaryByEliteQualification">
      <xs:sequence>
         <xs:element name="MileageQuantity" type="xs:string" minOccurs="0"/>
         <xs:element name="PointsQuantity" type="xs:int" minOccurs="0"/>
         <xs:element name="SegmentQuantity" type="xs:string" minOccurs="0"/>
         <xs:element name="DollarQuantity" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.MemberSummaryByExpiration -->
   <xs:element name="MemberSummaryByExpiration" type="tns:MemberSummaryByExpiration"/>
   <xs:complexType name="MemberSummaryByExpiration">
      <xs:sequence>
         <xs:element name="ExpiringMileageQuantity" type="xs:int" minOccurs="0"/>
         <xs:element name="NonExpiringMileageQuantity" type="xs:int" minOccurs="0"/>
         <xs:element name="MileageExpirationDate" type="xs:date" minOccurs="0"/>
         <xs:element name="MilesToReactivate" type="xs:string" minOccurs="0"/>
         </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.MemberSummaryDetail -->
   <xs:element name="MemberSummaryDetail" type="tns:MemberSummaryDetail"/>
   <xs:complexType name="MemberSummaryDetail">
      <xs:sequence>
         <xs:element name="PrizeEligibleMileageQuantity" type="xs:int" minOccurs="0"/>
         <xs:element name="BaseMileageQuantity" type="xs:int" minOccurs="0"/>
         <xs:element name="BonusMileageQuantity" type="xs:int" minOccurs="0"/>
		 <xs:element name="MilesforNext500mUpgrades" type="xs:int" minOccurs="0"/>
         <xs:element name="LoyaltyProgramTimePeriod" type="tns:LoyaltyProgramTimePeriod"/>
         <xs:element name="MemberSummaryByEliteQualification" type="tns:MemberSummaryByEliteQualification" minOccurs="0"/>
         <xs:element name="MemberSummaryByExpiration" type="tns:MemberSummaryByExpiration" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.PartnerProgramParticipation -->
   <xs:element name="PartnerProgramParticipation" type="tns:PartnerProgramParticipation"/>
   <xs:complexType name="PartnerProgramParticipation">
      <xs:sequence>
         <xs:element name="PartnerStratification" type="tns:PartnerStratification" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="LoyaltyProgramPartner" type="tns:LoyaltyProgramPartner"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.PartnerStratification -->
   <xs:element name="PartnerStratification" type="tns:PartnerStratification"/>
   <xs:complexType name="PartnerStratification">
      <xs:sequence>
         <xs:element name="StratificationCode" type="xs:string"/>
         <xs:element name="PartnerStratificationName" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformationV2.PartnerStratificationBenefits -->
   <xs:element name="PartnerStratificationBenefits" type="tns:PartnerStratificationBenefits"/>
   <xs:complexType name="PartnerStratificationBenefits">
      <xs:sequence>
         <xs:element name="PartnerId" type="xs:string" minOccurs="0"/>
         <xs:element name="PartnerStratCode" type="xs:string" minOccurs="0"/>
         <xs:element name="Benefits" type="tns:Benefits" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformationV2.ProviderSystemErrorTypeEnum -->
   <xs:simpleType name="ProviderSystemErrorTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="ERROR"/>
         <xs:enumeration value="INFO"/>
         <xs:enumeration value="WARN"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: MemberInformation.ProviderSystemInfo -->
   <xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo"/>
   <xs:complexType name="ProviderSystemInfo">
      <xs:sequence>
         <xs:element name="ProviderSystemID" type="xs:string"/>
         <xs:element name="Type" type="tns:ProviderSystemErrorTypeEnum"/>
         <xs:element name="Code" type="xs:string"/>
         <xs:element name="Message" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.RequestHeaderType -->
   <xs:element name="RequestHeaderType" type="tns:RequestHeaderType"/>
   <xs:complexType name="RequestHeaderType">
      <xs:sequence>
         <xs:element name="ClientID" type="xs:string"/>
         <xs:element name="WsdlVersion" type="xs:string"/>
         <xs:element name="ServiceType" type="xs:string"/>
         <xs:element name="ApplicationID" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.ResponseHeaderType -->
   <xs:element name="ResponseHeaderType" type="tns:ResponseHeaderType"/>
   <xs:complexType name="ResponseHeaderType">
      <xs:sequence>
         <xs:element name="ResponseStatus" type="tns:ListResponseHdrStatusType"/>
         <xs:element name="ServiceInfo" type="tns:ServiceInfoType"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformation.ResponseStatusCodeEnum -->
   <xs:simpleType name="ResponseStatusCodeEnum">
      <xs:restriction base="xs:int">
         <xs:enumeration value="10"/>
         <xs:enumeration value="11"/>
         <xs:enumeration value="13"/>
         <xs:enumeration value="14"/>
         <xs:enumeration value="15"/>
         <xs:enumeration value="16"/>
         <xs:enumeration value="18"/>
         <xs:enumeration value="19"/>
         <xs:enumeration value="40"/>
         <xs:enumeration value="99"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: MemberInformation.ResponseStatusMessageEnum -->
   <xs:simpleType name="ResponseStatusMessageEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="AAdvantage Account Not Found For CUPID"/>
         <xs:enumeration value="Cannot Update-Member Has Security Restrictions"/>
         <xs:enumeration value="Cannot Update-Member is a From Merger Account"/>
         <xs:enumeration value="Cannot Update-Member is part of a Merge in Process"/>
         <xs:enumeration value="CUPID Not Found"/>
         <xs:enumeration value="Invalid characters in Name"/>
         <xs:enumeration value="Invalid Preference And Group"/>
         <xs:enumeration value="No Results"/>
         <xs:enumeration value="Permission Denied-Change Rules violated"/>
         <xs:enumeration value="Provider System Error"/>
         <xs:enumeration value="Success"/>
         <xs:enumeration value="Unknown Error"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: MemberInformation.ResponseStatusType -->
   <xs:element name="ResponseStatusType" type="tns:ResponseStatusType"/>
   <xs:complexType name="ResponseStatusType">
      <xs:sequence>
         <xs:element name="Code" type="xs:int" minOccurs="0"/>
         <xs:element name="Message" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: MemberInformationV2.ServiceInfoType -->
   <xs:element name="ServiceInfoType" type="tns:ServiceInfoType"/>
   <xs:complexType name="ServiceInfoType">
      <xs:sequence>
         <xs:element name="ServiceName" type="xs:string"/>
         <xs:element name="ServiceInstance" type="xs:string"/>
         <xs:element name="WSDLVersion" type="xs:string"/>
         <xs:element name="ImplematationVersion" type="xs:string"/>
         <xs:element name="BuildDate" type="xs:date"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="CustomerMembership">
   	<xs:sequence>
   		<xs:element name="MembershipProgram" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
   	</xs:sequence>
   </xs:complexType>
</xs:schema>
  </types>
  <message name="LoyaltyMemberInformationFault">
    <part name="FaultType" element="tns:FaultType"/>
  </message>
  <message name="RetrieveLoyaltyMemberInformationResponse">
    <part name="RetrieveMemberInformationReturn" element="tns:MemberInformationRetrieveResponse"/>
  </message>
  <message name="RetrieveLoyaltyMemberInformationRequest">
    <part name="Request" element="tns:MemberInformationRetrieveRequest"/>
  </message>
  <portType name="LoyaltyMemberInformationV6PortType">
    <operation name="RetrieveLoyaltyMemberInformation">
      <input message="wsdltns:RetrieveLoyaltyMemberInformationRequest"/>
      <output message="wsdltns:RetrieveLoyaltyMemberInformationResponse"/>
      <fault name="Fault" message="wsdltns:LoyaltyMemberInformationFault"/>
    </operation>
  </portType>
  <binding name="LoyaltyMemberInformationV6Binding" type="wsdltns:LoyaltyMemberInformationV6PortType">
    <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="RetrieveLoyaltyMemberInformation">
      <SOAP:operation soapAction="http://www.LoyaltyMemberInformationV6.com/RetrieveLoyaltyMemberInformation"/>
      <input>
        <SOAP:body use="literal"/>
      </input>
      <output>
        <SOAP:body use="literal"/>
      </output>
      <fault name="Fault">
        <SOAP:fault name="Fault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="LoyaltyMemberInformationV6Service">
    <port name="LoyaltyMemberInformationV6Port" binding="wsdltns:LoyaltyMemberInformationV6Binding">
      <SOAP:address location="$$$update this with the actual address before using$$$"/>
    </port>
  </service>
</definitions>
