src/engine/aa/wsdl/LoyaltyMemberSecurityV2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://custhub.ct.aa.com/LoyaltyMemberSecurityV2/WSDL" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://custhub.ct.aa.com/LoyaltyMemberSecurityV2" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdltns="http://custhub.ct.aa.com/LoyaltyMemberSecurityV2/WSDL" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr_ns="http://www.customerhub.aa.com/Services/SOAPHeaders" xmlns:wssec="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
  <types>
<!-- ================================================ -->
<!-- This file was generated by Progress DataXtend SI -->
<!-- ================================================ -->

<!-- Export Configuration options -->
<!-- ============================ -->
<!-- complex types only            - false -->
<!-- include required rules        - true -->
<!-- include reverse relationships - false -->
<!-- export with weak typing       - false -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://custhub.ct.aa.com/LoyaltyMemberSecurityV2"
 xmlns:tns="http://custhub.ct.aa.com/LoyaltyMemberSecurityV2"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="unqualified"  attributeFormDefault="unqualified">

<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" 	schemaLocation="oasis-200401-wss-wssecurity-secext-1.0.xsd" />
   <!-- The type: LoyaltyMemberSecurityV2.AAdvantageAccountEnrollment -->
   <xs:element name="AAdvantageAccountEnrollment" type="tns:AAdvantageAccountEnrollment"/>
   <xs:complexType name="AAdvantageAccountEnrollment">
      <xs:annotation>
         <xs:documentation>
AN AADVANTAGE ACCOUNT ENROLLEMENT is the act of an individual customer participating in the AADVANTAGE loyalty program. As a result of this enrollment the member becomes the recipient of the program benefits.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MemberAccountSecurity" type="tns:MemberAccountSecurity" minOccurs="0"/>
         <xs:element name="SecurityStatus" type="tns:SecurityStatus" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.AAdvantageMember -->
   <xs:element name="AAdvantageMember" type="tns:AAdvantageMember"/>
   <xs:complexType name="AAdvantageMember">
      <xs:annotation>
         <xs:documentation>
AN AADVANTAGE MEMBER is a CUSTOMER LOYALTY MEMBER who is a member of the AADVANTAGE loyalty program.
         </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="tns:CustomerLoyaltyMember">
            <xs:sequence>
               <xs:element name="AAdvantageAccount" type="tns:AAdvantageAccountEnrollment"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ArchiveMemberAccount -->
   <xs:element name="ArchiveMemberAccount" type="tns:ArchiveMemberAccount"/>
   <xs:complexType name="ArchiveMemberAccount">
      <xs:sequence>
         <xs:element name="LoyaltyProgram" type="tns:LoyaltyProgram"/>
         <xs:element name="AdvantageAccountNumber" type="xs:string"/>
         <xs:element name="MemberAccountReactivationRequest" type="tns:MemberAccountReactivationRequest" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ChallengeQuestion -->
   <xs:element name="ChallengeQuestion" type="tns:ChallengeQuestion"/>
   <xs:complexType name="ChallengeQuestion">
      <xs:sequence>
         <xs:element name="QuestionText" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.CustomerHubQueryItemType -->
   <xs:element name="CustomerHubQueryItemType" type="tns:CustomerHubQueryItemType" abstract="true"/>
   <xs:complexType name="CustomerHubQueryItemType" abstract="true">
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.CustomerHubQueryType -->
   <xs:element name="CustomerHubQueryType" type="tns:CustomerHubQueryType" abstract="true"/>
   <xs:complexType name="CustomerHubQueryType" abstract="true">
      <xs:sequence>
         <xs:element name="ClientID"  minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ApplicationID" type="xs:string" minOccurs="0"/>
         <xs:element name="Response" type="tns:ListResponseHeaderType"/>
         <xs:element name="ItemList" type="tns:CustomerHubQueryItemType" maxOccurs="unbounded"/>
         <xs:element name="WsdlVersion" type="xs:string" minOccurs="0"/>
         <xs:element name="AuditID" type="xs:string" minOccurs="0"/>
         <xs:element name="AuthorizationPassword" type="xs:string" minOccurs="0"/>
         <xs:element name="AuthorizationID" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.CustomerLoyaltyMember -->
   <xs:element name="CustomerLoyaltyMember" type="tns:CustomerLoyaltyMember" abstract="true"/>
   <xs:complexType name="CustomerLoyaltyMember" abstract="true">
      <xs:annotation>
         <xs:documentation>
A CUSTOMER LOYALTY MEMBER is a individual customer that participates in  company sponsored loyalty programs.  The member is the recipient of the program benefits and would be represented as a CUSTOMER LOYALTY MEMBER.
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="LoyaltyProgramCode" >
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ErrorTypeEnum -->
   <xs:simpleType name="ErrorTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="B"/>
         <xs:enumeration value="S"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: LoyaltyMemberSecurityV2.FaultType -->
   <xs:element name="FaultType" type="tns:FaultType"/>
   <xs:complexType name="FaultType">
      <xs:sequence>
         <xs:element name="ErrorCd" type="xs:string"/>
         <xs:element name="ErrorType" type="tns:ErrorTypeEnum"/>
         <xs:element name="ErrorMessage" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.IncrementLoyaltyCredentialsFailCountRequest -->
   <xs:element name="IncrementLoyaltyCredentialsFailCountRequest" type="tns:IncrementLoyaltyCredentialsFailCountRequest"/>
   <xs:complexType name="IncrementLoyaltyCredentialsFailCountRequest">
      <xs:complexContent>
         <xs:extension base="tns:RequestHeaderType">
            <xs:sequence>
               <xs:element name="IncrementLoyaltyCredentialsFailCountRequestItem" type="tns:IncrementLoyaltyCredentialsFailCountRequestItem" maxOccurs="unbounded"/>
               <xs:element name="AuditID" type="xs:string"/>
               <xs:element name="AuthorizationID" type="xs:string"/>
               <xs:element name="AuthorizationPassword" type="xs:string"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.IncrementLoyaltyCredentialsFailCountRequestItem -->
   <xs:element name="IncrementLoyaltyCredentialsFailCountRequestItem" type="tns:IncrementLoyaltyCredentialsFailCountRequestItem"/>
   <xs:complexType name="IncrementLoyaltyCredentialsFailCountRequestItem">
      <xs:sequence>
         <xs:element name="ProgramId" type="xs:string"/>
         <xs:element name="LoyaltyAccountNumber" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.IncrementLoyaltyCredentialsFailCountResponse -->
   <xs:element name="IncrementLoyaltyCredentialsFailCountResponse" type="tns:IncrementLoyaltyCredentialsFailCountResponse"/>
   <xs:complexType name="IncrementLoyaltyCredentialsFailCountResponse">
      <xs:complexContent>
         <xs:extension base="tns:ResponseHeaderType">
            <xs:sequence>
               <xs:element name="IncrementLoyaltyCredentialsFailCountResult" type="tns:IncrementLoyaltyCredentialsFailCountResult" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.IncrementLoyaltyCredentialsFailCountResult -->
   <xs:element name="IncrementLoyaltyCredentialsFailCountResult" type="tns:IncrementLoyaltyCredentialsFailCountResult"/>
   <xs:complexType name="IncrementLoyaltyCredentialsFailCountResult">
      <xs:sequence>
         <xs:element name="IncrementLoyaltyCredentialsFailCountStatus" type="tns:IncrementLoyaltyCredentialsFailCountStatus"/>
         <xs:element name="IncrementLoyaltyCredentialsFailCountRequestItem" type="tns:IncrementLoyaltyCredentialsFailCountRequestItem"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.IncrementLoyaltyCredentialsFailCountStatus -->
   <xs:element name="IncrementLoyaltyCredentialsFailCountStatus" type="tns:IncrementLoyaltyCredentialsFailCountStatus"/>
   <xs:complexType name="IncrementLoyaltyCredentialsFailCountStatus">
      <xs:sequence>
         <xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo" maxOccurs="unbounded"/>
         <xs:element name="Code" type="tns:ResponseStatusCodeEnum"/>
         <xs:element name="Message" type="tns:ResponseStatusMessageEnum"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ListResponseHdrStatusCodeType -->
   <xs:simpleType name="ListResponseHdrStatusCodeType">
      <xs:restriction base="xs:decimal">
         <xs:enumeration value="0"/>
         <xs:enumeration value="10"/>
         <xs:enumeration value="11"/>
         <xs:enumeration value="12"/>
         <xs:enumeration value="13"/>
         <xs:enumeration value="99"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: LoyaltyMemberSecurityV2.ListResponseHdrStatusMessageType -->
   <xs:simpleType name="ListResponseHdrStatusMessageType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Invalid WSDL version"/>
         <xs:enumeration value="No Results"/>
         <xs:enumeration value="Partial Results"/>
         <xs:enumeration value="Schema Validation Error"/>
         <xs:enumeration value="Success"/>
         <xs:enumeration value="Unknown Error"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: LoyaltyMemberSecurityV2.ListResponseHdrStatusType -->
   <xs:element name="ListResponseHdrStatusType" type="tns:ListResponseHdrStatusType"/>
   <xs:complexType name="ListResponseHdrStatusType">
      <xs:complexContent>
         <xs:extension base="tns:ResponseStatusType">
            <xs:sequence>
               <xs:element name="Info" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ListResponseHeaderType -->
   <xs:element name="ListResponseHeaderType" type="tns:ListResponseHeaderType"/>
   <xs:complexType name="ListResponseHeaderType">
      <xs:complexContent>
         <xs:extension base="tns:ResponseHeaderType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.LoyaltyProgram -->
   <xs:element name="LoyaltyProgram" type="tns:LoyaltyProgram"/>
   <xs:complexType name="LoyaltyProgram">
      <xs:annotation>
         <xs:documentation>
A direct or indirect marketing tool that provides awareness of AMR products and services to customers or potential customers in order to generate activity and maintain customer loyalty.

One way that a program may be marketed is by offering promotions.  These promotions offer the customers an incentive over and above the incentive
offered by the governing program to use AMR products or services.

Examples:
AAdvantage
Airpass
Admiral&apos;s Club
         </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CustomerLoyaltyMember" type="tns:CustomerLoyaltyMember" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="LoyaltyProgramCode" type="xs:string"/>
         <xs:element name="LoyaltyProgramName" type="xs:string" minOccurs="0"/>
         <xs:element name="EffectiveDate" type="xs:date" minOccurs="0"/>
         <xs:element name="ExpirationDate" type="xs:date" minOccurs="0"/>
         <xs:element name="ProgramDescription" type="xs:string" minOccurs="0"/>
         <xs:element name="ProgramStatusCode" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.MemberAccountReactivationRequest -->
   <xs:element name="MemberAccountReactivationRequest" type="tns:MemberAccountReactivationRequest"/>
   <xs:complexType name="MemberAccountReactivationRequest">
      <xs:sequence>
         <xs:element name="RequestDate" type="xs:date"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.MemberAccountRestriction -->
   <xs:element name="MemberAccountRestriction" type="tns:MemberAccountRestriction"/>
   <xs:complexType name="MemberAccountRestriction">
      <xs:sequence>
         <xs:element name="EffectiveDate" type="xs:date"/>
         <xs:element name="ExpirationDate" type="xs:date"/>
         <xs:element name="MergeCode" type="xs:string" minOccurs="0"/>
         <xs:element name="SecurityRestriction" type="tns:SecurityRestriction"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.MemberAccountRestrictionHistory -->
   <xs:element name="MemberAccountRestrictionHistory" type="tns:MemberAccountRestrictionHistory"/>
   <xs:complexType name="MemberAccountRestrictionHistory">
      <xs:sequence>
         <xs:element name="MemberAccountRestriction" type="tns:MemberAccountRestriction" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.MemberAccountSecurity -->
   <xs:element name="MemberAccountSecurity" type="tns:MemberAccountSecurity"/>
   <xs:complexType name="MemberAccountSecurity">
      <xs:sequence>
         <xs:element name="CreateDate" type="xs:date"/>
         <xs:element name="SecurityCommentText" type="xs:string" minOccurs="0"/>
         <xs:element name="CAARECrossReferenceIdentifier" type="xs:string" minOccurs="0"/>
         <xs:element name="SecurityActionProgression" type="tns:SecurityActionProgression"/>
         <xs:element name="SecurityRequestDepartment" type="tns:SecurityRequestDepartment"/>
         <xs:element name="MemberSecurityReason" type="tns:MemberSecurityReason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="MemberAccountRestriction" type="tns:MemberAccountRestriction" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.MemberChallengeQuestion -->
   <xs:element name="MemberChallengeQuestion" type="tns:MemberChallengeQuestion"/>
   <xs:complexType name="MemberChallengeQuestion">
      <xs:sequence>
         <xs:element name="ResponseText" type="xs:string" minOccurs="0"/>
         <xs:element name="FailureCount" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.MemberPassword -->
   <xs:element name="MemberPassword" type="tns:MemberPassword"/>
   <xs:complexType name="MemberPassword">
      <xs:sequence>
         <xs:element name="PasswordText" type="xs:string" minOccurs="0"/>
         <xs:element name="FailureCount" type="xs:int" minOccurs="0"/>
         <xs:element name="TemporaryIndicator" type="xs:boolean" minOccurs="0"/>
         <xs:element name="MaxAllowedFailCount" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.MemberSecurityReason -->
   <xs:element name="MemberSecurityReason" type="tns:MemberSecurityReason"/>
   <xs:complexType name="MemberSecurityReason">
      <xs:sequence>
         <xs:element name="SecurityReason" type="tns:SecurityReason"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ProviderSystemErrorTypeEnum -->
   <xs:simpleType name="ProviderSystemErrorTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="ERROR"/>
         <xs:enumeration value="INFO"/>
         <xs:enumeration value="WARN"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: LoyaltyMemberSecurityV2.ProviderSystemInfo -->
   <xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo"/>
   <xs:complexType name="ProviderSystemInfo">
      <xs:sequence>
         <xs:element name="ProviderSystemID" type="xs:string"/>
         <xs:element name="Type" type="tns:ProviderSystemErrorTypeEnum"/>
         <xs:element name="Code" type="xs:string"/>
         <xs:element name="Message" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ReactivateLoyaltyAccountRequest -->
   <xs:element name="ReactivateLoyaltyAccountRequest" type="tns:ReactivateLoyaltyAccountRequest"/>
   <xs:complexType name="ReactivateLoyaltyAccountRequest">
      <xs:complexContent>
         <xs:extension base="tns:RequestHeaderType">
            <xs:sequence>
               <xs:element name="ReactivateLoyaltyAccountRequestItem" type="tns:ReactivateLoyaltyAccountRequestItem" maxOccurs="unbounded"/>
               <xs:element name="AuditID" type="xs:string"/>
               <xs:element name="AuthorizationID" type="xs:string"/>
               <xs:element name="AuthorizationPassword" type="xs:string"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ReactivateLoyaltyAccountRequestItem -->
   <xs:element name="ReactivateLoyaltyAccountRequestItem" type="tns:ReactivateLoyaltyAccountRequestItem"/>
   <xs:complexType name="ReactivateLoyaltyAccountRequestItem">
      <xs:sequence>
         <xs:element name="ProgramId" type="xs:string"/>
         <xs:element name="LoyaltyAccountNumber" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ReactivateLoyaltyAccountResponse -->
   <xs:element name="ReactivateLoyaltyAccountResponse" type="tns:ReactivateLoyaltyAccountResponse"/>
   <xs:complexType name="ReactivateLoyaltyAccountResponse">
      <xs:complexContent>
         <xs:extension base="tns:ResponseHeaderType">
            <xs:sequence>
               <xs:element name="ReactivateLoyaltyAccountResult" type="tns:ReactivateLoyaltyAccountResult" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ReactivateLoyaltyAccountResult -->
   <xs:element name="ReactivateLoyaltyAccountResult" type="tns:ReactivateLoyaltyAccountResult"/>
   <xs:complexType name="ReactivateLoyaltyAccountResult">
      <xs:sequence>
         <xs:element name="ResetLoyaltyCredentialsFailCountStatus" type="tns:ReactivateLoyaltyAccountStatus" minOccurs="0"/>
         <xs:element name="ReactivateLoyaltyAccountRequestItem" type="tns:ReactivateLoyaltyAccountRequestItem"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ReactivateLoyaltyAccountStatus -->
   <xs:element name="ReactivateLoyaltyAccountStatus" type="tns:ReactivateLoyaltyAccountStatus"/>
   <xs:complexType name="ReactivateLoyaltyAccountStatus">
      <xs:sequence>
         <xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo" maxOccurs="unbounded"/>
         <xs:element name="Code" type="tns:ResponseStatusCodeEnum"/>
         <xs:element name="Message" type="tns:ResponseStatusMessageEnum"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.RequestHeaderType -->
   <xs:element name="RequestHeaderType" type="tns:RequestHeaderType"/>
   <xs:complexType name="RequestHeaderType">
      <xs:sequence>
         <xs:element name="ClientID" type="xs:string"/>
         <xs:element name="WsdlVersion" type="xs:string"/>
         <xs:element name="ServiceType" type="xs:string"/>
         <xs:element name="ApplicationID" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ResetLoyaltyCredentialsFailCountRequest -->
   <xs:element name="ResetLoyaltyCredentialsFailCountRequest" type="tns:ResetLoyaltyCredentialsFailCountRequest"/>
   <xs:complexType name="ResetLoyaltyCredentialsFailCountRequest">
      <xs:complexContent>
         <xs:extension base="tns:RequestHeaderType">
            <xs:sequence>
               <xs:element name="ResetLoyaltyCredentialsFailCountRequestItem" type="tns:ResetLoyaltyCredentialsFailCountRequestItem" maxOccurs="unbounded"/>
               <xs:element name="AuditID" type="xs:string"/>
               <xs:element name="AuthorizationID" type="xs:string"/>
               <xs:element name="AuthorizationPassword" type="xs:string"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ResetLoyaltyCredentialsFailCountRequestItem -->
   <xs:element name="ResetLoyaltyCredentialsFailCountRequestItem" type="tns:ResetLoyaltyCredentialsFailCountRequestItem"/>
   <xs:complexType name="ResetLoyaltyCredentialsFailCountRequestItem">
      <xs:sequence>
         <xs:element name="ProgramID" type="xs:string"/>
         <xs:element name="LoyaltyAccountNumber" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ResetLoyaltyCredentialsFailCountResponse -->
   <xs:element name="ResetLoyaltyCredentialsFailCountResponse" type="tns:ResetLoyaltyCredentialsFailCountResponse"/>
   <xs:complexType name="ResetLoyaltyCredentialsFailCountResponse">
      <xs:complexContent>
         <xs:extension base="tns:ListResponseHeaderType">
            <xs:sequence>
               <xs:element name="ResetLoyaltyCredentialsFailCountResult" type="tns:ResetLoyaltyCredentialsFailCountResult" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ResetLoyaltyCredentialsFailCountResult -->
   <xs:element name="ResetLoyaltyCredentialsFailCountResult" type="tns:ResetLoyaltyCredentialsFailCountResult"/>
   <xs:complexType name="ResetLoyaltyCredentialsFailCountResult">
      <xs:sequence>
         <xs:element name="ResetLoyaltyCredentialsFailCountStatus" type="tns:ResetLoyaltyCredentialsFailCountStatus" minOccurs="0"/>
         <xs:element name="ResetLoyaltyCredentialsFailCountRequestItem" type="tns:ResetLoyaltyCredentialsFailCountRequestItem"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ResetLoyaltyCredentialsFailCountStatus -->
   <xs:element name="ResetLoyaltyCredentialsFailCountStatus" type="tns:ResetLoyaltyCredentialsFailCountStatus"/>
   <xs:complexType name="ResetLoyaltyCredentialsFailCountStatus">
      <xs:sequence>
         <xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo"/>
         <xs:element name="Code" type="tns:ResponseStatusCodeEnum"/>
         <xs:element name="Message" type="tns:ResponseStatusMessageEnum"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ResponseHeaderType -->
   <xs:element name="ResponseHeaderType" type="tns:ResponseHeaderType"/>
   <xs:complexType name="ResponseHeaderType">
      <xs:sequence>
         <xs:element name="ResponseStatus" type="tns:ResponseStatusType"/>
         <xs:element name="ServiceInfo" type="tns:ServiceInfoType"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ResponseStatusCodeEnum -->
   <xs:simpleType name="ResponseStatusCodeEnum">
      <xs:restriction base="xs:int">
         <xs:enumeration value="0"/>
         <xs:enumeration value="10"/>
         <xs:enumeration value="11"/>
         <xs:enumeration value="22"/>
         <xs:enumeration value="23"/>
         <xs:enumeration value="24"/>
         <xs:enumeration value="25"/>
         <xs:enumeration value="26"/>
         <xs:enumeration value="27"/>
         <xs:enumeration value="29"/>
         <xs:enumeration value="30"/>
         <xs:enumeration value="35"/>
         <xs:enumeration value="36"/>
         <xs:enumeration value="37"/>
         <xs:enumeration value="38"/>
         <xs:enumeration value="40"/>
         <xs:enumeration value="41"/>
         <xs:enumeration value="42"/>
         <xs:enumeration value="43"/>
         <xs:enumeration value="99"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: LoyaltyMemberSecurityV2.ResponseStatusMessageEnum -->
   <xs:simpleType name="ResponseStatusMessageEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="AAdvantageCustomerIdentifier Required"/>
         <xs:enumeration value="AADV Contact Invalid"/>
         <xs:enumeration value="Contact Reason Identifier Not Found"/>
         <xs:enumeration value="Contact Type Not Allowed For Subscription"/>
         <xs:enumeration value="Contact Value Must Be Same In Subscription And Customer"/>
         <xs:enumeration value="CUPID Not Found"/>
         <xs:enumeration value="Currency Code Not Found"/>
         <xs:enumeration value="Customer Contact Reason Already Exist"/>
         <xs:enumeration value="CustomerResolutionTransaction Already Exists"/>
         <xs:enumeration value="Discontinued Contact Reason Can Not Be Assigned To Customer"/>
         <xs:enumeration value="Duplicate Contact"/>
         <xs:enumeration value="Duplicate Key"/>
         <xs:enumeration value="Exceeding Subscription Allow Contact Qty"/>
         <xs:enumeration value="No Results"/>
         <xs:enumeration value="PNR Identifier Not Found"/>
         <xs:enumeration value="Provider System Error"/>
         <xs:enumeration value="Resolution Identifier Not Found"/>
         <xs:enumeration value="Subscription Already Exist For This Product Code"/>
         <xs:enumeration value="Success"/>
         <xs:enumeration value="Unknown Error"/>
      </xs:restriction>
   </xs:simpleType>
   <!-- The type: LoyaltyMemberSecurityV2.ResponseStatusType -->
   <xs:element name="ResponseStatusType" type="tns:ResponseStatusType"/>
   <xs:complexType name="ResponseStatusType">
      <xs:sequence>
         <xs:element name="Code" type="xs:int" minOccurs="0"/>
         <xs:element name="Message" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.RetrieveSecurityRestrictionsRequest -->
   <xs:element name="RetrieveSecurityRestrictionsRequest" type="tns:RetrieveSecurityRestrictionsRequest"/>
   <xs:complexType name="RetrieveSecurityRestrictionsRequest">
      <xs:complexContent>
         <xs:extension base="tns:RequestHeaderType">
            <xs:sequence>
               <xs:element name="RetrieveSecurityRestrictionsRequestItem" type="tns:RetrieveSecurityRestrictionsRequestItem" maxOccurs="unbounded"/>
               <xs:element name="AuditID" type="xs:string"/>
               <xs:element name="AuthorizationID" type="xs:string"/>
               <xs:element name="AuthorizationPassword" type="xs:string"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.RetrieveSecurityRestrictionsRequestItem -->
   <xs:element name="RetrieveSecurityRestrictionsRequestItem" type="tns:RetrieveSecurityRestrictionsRequestItem"/>
   <xs:complexType name="RetrieveSecurityRestrictionsRequestItem">
      <xs:sequence>
         <xs:element name="LoyaltyAccountNumber" type="xs:string"/>
         <xs:element name="LoyaltyProgramCode" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.RetrieveSecurityRestrictionsResponse -->
   <xs:element name="RetrieveSecurityRestrictionsResponse" type="tns:RetrieveSecurityRestrictionsResponse"/>
   <xs:complexType name="RetrieveSecurityRestrictionsResponse">
      <xs:complexContent>
         <xs:extension base="tns:ListResponseHeaderType">
            <xs:sequence>
               <xs:element name="RetrieveSecurityRestrictionsResult" type="tns:RetrieveSecurityRestrictionsResult" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.RetrieveSecurityRestrictionsResult -->
   <xs:element name="RetrieveSecurityRestrictionsResult" type="tns:RetrieveSecurityRestrictionsResult"/>
   <xs:complexType name="RetrieveSecurityRestrictionsResult">
      <xs:sequence>
         <xs:element name="RetrieveSecurityRestrictionsStatus" type="tns:RetrieveSecurityRestrictionsStatus"/>
         <xs:element name="RetrieveSecurityRestrictionsRequestItem" type="tns:RetrieveSecurityRestrictionsRequestItem"/>
         <xs:element name="AAdvantageAccountEnrollment" type="tns:AAdvantageAccountEnrollment" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.RetrieveSecurityRestrictionsStatus -->
   <xs:element name="RetrieveSecurityRestrictionsStatus" type="tns:RetrieveSecurityRestrictionsStatus"/>
   <xs:complexType name="RetrieveSecurityRestrictionsStatus">
      <xs:sequence>
         <xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Code" type="xs:string" minOccurs="0"/>
         <xs:element name="Message" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.SecurityActionProgression -->
   <xs:element name="SecurityActionProgression" type="tns:SecurityActionProgression"/>
   <xs:complexType name="SecurityActionProgression">
      <xs:sequence>
         <xs:element name="Code" type="xs:string"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.SecurityReason -->
   <xs:element name="SecurityReason" type="tns:SecurityReason"/>
   <xs:complexType name="SecurityReason">
      <xs:sequence>
         <xs:element name="Code" type="xs:string"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.SecurityRequestDepartment -->
   <xs:element name="SecurityRequestDepartment" type="tns:SecurityRequestDepartment"/>
   <xs:complexType name="SecurityRequestDepartment">
      <xs:sequence>
         <xs:element name="Code" type="xs:string"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.SecurityRestriction -->
   <xs:element name="SecurityRestriction" type="tns:SecurityRestriction"/>
   <xs:complexType name="SecurityRestriction">
      <xs:sequence>
         <xs:element name="Code" type="xs:string"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.SecurityStatus -->
   <xs:element name="SecurityStatus" type="tns:SecurityStatus"/>
   <xs:complexType name="SecurityStatus">
      <xs:sequence>
         <xs:element name="Code" type="xs:string"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ServiceInfoType -->
   <xs:element name="ServiceInfoType" type="tns:ServiceInfoType"/>
   <xs:complexType name="ServiceInfoType">
      <xs:sequence>
         <xs:element name="ServiceName" type="xs:string"/>
         <xs:element name="ServiceInstance" type="xs:string"/>
         <xs:element name="WSDLVersion" type="xs:string"/>
         <xs:element name="ImplematationVersion" type="xs:string"/>
         <xs:element name="BuildDate" type="xs:date"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ValidateLoyaltyCredentialsRequest -->
   <xs:element name="ValidateLoyaltyCredentialsRequest" type="tns:ValidateLoyaltyCredentialsRequest"/>
   <xs:complexType name="ValidateLoyaltyCredentialsRequest">
      <xs:complexContent>
         <xs:extension base="tns:RequestHeaderType">
            <xs:sequence>
               <xs:element name="ValidateLoyaltyCredentialsRequestItem" type="tns:ValidateLoyaltyCredentialsRequestItem" maxOccurs="unbounded"/>
               <xs:element name="AuditID" type="xs:string"  minOccurs="1"/>
               <xs:element name="AuthorizationID" type="xs:string"/>
               <xs:element name="AuthorizationPassword" type="xs:string"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ValidateLoyaltyCredentialsRequestItem -->
   <xs:element name="ValidateLoyaltyCredentialsRequestItem" type="tns:ValidateLoyaltyCredentialsRequestItem"/>
   <xs:complexType name="ValidateLoyaltyCredentialsRequestItem">
      <xs:sequence>
         <xs:element name="LoyaltyAccountNumber" type="xs:string"  minOccurs="1"/>
         <xs:element name="LoyaltyAccountPasswordText" type="xs:string"  minOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ValidateLoyaltyCredentialsResponse -->
   <xs:element name="ValidateLoyaltyCredentialsResponse" type="tns:ValidateLoyaltyCredentialsResponse"/>
   <xs:complexType name="ValidateLoyaltyCredentialsResponse">
      <xs:complexContent>
         <xs:extension base="tns:ListResponseHeaderType">
            <xs:sequence>
               <xs:element name="ValidateLoyaltyCredentialsResult" type="tns:ValidateLoyaltyCredentialsResult" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ValidateLoyaltyCredentialsResult -->
   <xs:element name="ValidateLoyaltyCredentialsResult" type="tns:ValidateLoyaltyCredentialsResult"/>
   <xs:complexType name="ValidateLoyaltyCredentialsResult">
      <xs:sequence>
         <xs:element name="ValidateLoyaltyCredentialsStatus" type="tns:ValidateLoyaltyCredentialsStatus"/>
         <xs:element name="ValidationFailCount" type="xs:string"/>
         <xs:element name="ValidationFailMaxLimitCount" type="xs:string"/>
         <xs:element name="PasswordTemporaryIndicator" type="xs:boolean"/>
         <xs:element name="ValidateLoyaltyCredentialsRequestItem" type="tns:ValidateLoyaltyCredentialsRequestItem"/>
      </xs:sequence>
   </xs:complexType>
   <!-- The type: LoyaltyMemberSecurityV2.ValidateLoyaltyCredentialsStatus -->
   <xs:element name="ValidateLoyaltyCredentialsStatus" type="tns:ValidateLoyaltyCredentialsStatus"/>
   <xs:complexType name="ValidateLoyaltyCredentialsStatus">
      <xs:sequence>
         <xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo" maxOccurs="unbounded"/>
         <xs:element name="Code" type="tns:ResponseStatusCodeEnum"/>
         <xs:element name="Message" type="tns:ResponseStatusMessageEnum"/>
      </xs:sequence>
   </xs:complexType>

        <!-- <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://custhub.ct.aa.com/LoyaltyMemberSecurityV2/WSDL"> -->
        	<xs:element name="UpdateMemberAccountPassword">
        		<xs:complexType>
        			<xs:sequence>

        				<xs:element name="in" type="xsd:string"></xs:element>
        			</xs:sequence>
        		</xs:complexType>
        	</xs:element>
        	
        	<xs:element name="UpdateMemberAccountPasswordRequest" type="tns:UpdateMemberAccountPasswordRequest"/>
        	
        	<xs:complexType name="UpdateMemberAccountPasswordRequest">
      		<xs:complexContent>
         	<xs:extension base="tns:RequestHeaderType">
            <xs:sequence>
               <xs:element name="UpdateMemberAccountPasswordRequestItem" type="tns:UpdateMemberAccountPasswordRequestItem" maxOccurs="unbounded"/>
               <xs:element name="AuditID" type="xs:string"  minOccurs="1"/>
               <xs:element name="AuthorizationID" type="xs:string"/>
               <xs:element name="AuthorizationPassword" type="xs:string"/>
            </xs:sequence>
         	</xs:extension>
     	 	</xs:complexContent>
   			</xs:complexType>
   			
   			<xs:element name="UpdateMemberAccountPasswordRequestItem" type="tns:UpdateMemberAccountPasswordRequestItem"/>
   			<xs:complexType name="UpdateMemberAccountPasswordRequestItem">
      			<xs:sequence>
         		<xs:element name="LoyaltyAccountNumber" type="xs:string"  minOccurs="1"/>
        		<xs:element name="LoyaltyAccountPasswordText" type="xs:string"  minOccurs="1"/>
        		<xs:element name="PwdTempIndicator" type="xs:boolean" default="false"/>
      			</xs:sequence>
   			</xs:complexType>
   
		   <xs:element name="UpdateMemberAccountPasswordResponse" type="tns:UpdateMemberAccountPasswordResponse"/>
		   <xs:complexType name="UpdateMemberAccountPasswordResponse">
		      <xs:complexContent>
		         <xs:extension base="tns:ListResponseHeaderType">
		            <xs:sequence>
		               <xs:element name="UpdateMemberAccountPasswordResult" type="tns:UpdateMemberAccountPasswordResult" maxOccurs="unbounded"/>
		            </xs:sequence>
		         </xs:extension>
		      </xs:complexContent>
		   </xs:complexType>
   
		   <xs:element name="UpdateMemberAccountPasswordResult" type="tns:UpdateMemberAccountPasswordResult"/>
		   <xs:complexType name="UpdateMemberAccountPasswordResult">
		      <xs:sequence>
		         <xs:element name="UpdateMemberAccountPasswordStatus" type="tns:UpdateMemberAccountPasswordStatus"/>
		         <xs:element name="PasswordFailCount" type="xs:int" minOccurs="1"/>

		         <xs:element name="UpdateMemberAccountPasswordRequestItem" type="tns:UpdateMemberAccountPasswordRequestItem"/>
		      </xs:sequence>
		   </xs:complexType>
		   <xs:element name="UpdateMemberAccountPasswordStatus" type="tns:UpdateMemberAccountPasswordStatus"/>
		   <xs:complexType name="UpdateMemberAccountPasswordStatus">
		      <xs:sequence>
		         <xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo" maxOccurs="unbounded"/>
		         <xs:element name="Code" type="tns:ResponseStatusCodeEnum"/>
		         <xs:element name="Message" type="tns:ResponseStatusMessageEnum"/>
		      </xs:sequence>
		   </xs:complexType>

	        	<xs:element name="UpdateMemberAccountPasswordFault" type="tns:FaultType1"/>
	   			<xs:complexType name="FaultType1">
	      		<xs:sequence>
	         	<xs:element name="ErrorCd" type="xs:string"/>
	         	<xs:element name="ErrorType" type="tns:ErrorTypeEnum"/>
	         	<xs:element name="ErrorMessage" type="xs:string"/>
	      		</xs:sequence>
	   			</xs:complexType>
	   
        	</xs:schema>
      <!-- </xs:schema> -->
    </types>
  <message name="WS-Security-SOAPHeader">
		<part name="Security" element="wssec:Security" />
  </message>
  <message name="ReactivateLoyaltyAccountResponse">
    <part name="ReactivateLoyaltyAccountReturn" element="tns:ReactivateLoyaltyAccountResponse"/>
  </message>
  <message name="ValidateLoyaltyCredentialsResponse">
    <part name="ValidateLoyaltyCredentialsReturn" element="tns:ValidateLoyaltyCredentialsResponse"/>
  </message>
  <message name="IncrementLoyaltyCredentialsFailCountResponse">
    <part name="IncrementLoyaltyCredentialsFailCountReturn" element="tns:IncrementLoyaltyCredentialsFailCountResponse"/>
  </message>
  <message name="ResetLoyaltyCredentialsFailCountResponse">
    <part name="ResetLoyaltyCredentialsFailCountReturn" element="tns:ResetLoyaltyCredentialsFailCountResponse"/>
  </message>
  <message name="LoyaltyMemberSecurityFault">
    <part name="FaultType" element="tns:FaultType"/>
  </message>
  <message name="IncrementLoyaltyCredentialsFailCountRequest">
    <part name="request" element="tns:IncrementLoyaltyCredentialsFailCountRequest"/>
  </message>
  <message name="RetrieveLoyaltyAccountSecurityRestrictionsResponse">
    <part name="RetrieveLoyaltyAccountSecurityRestrictionsReturn" element="tns:RetrieveSecurityRestrictionsResponse"/>
  </message>
  <message name="RetrieveLoyaltyAccountSecurityRestrictionsRequest">
    <part name="request" element="tns:RetrieveSecurityRestrictionsRequest"/>
  </message>
  <message name="ResetLoyaltyCredentialsFailCountRequest">
    <part name="request" element="tns:ResetLoyaltyCredentialsFailCountRequest"/>
  </message>
  <message name="ValidateLoyaltyCredentialsRequest">
    <part name="request" element="tns:ValidateLoyaltyCredentialsRequest"/>
  </message>
  <message name="ReactivateLoyaltyAccountRequest">
    <part name="request" element="tns:ReactivateLoyaltyAccountRequest"/>
  </message>
  <message name="UpdateMemberAccountPasswordRequest">
  	<part name="request" element="tns:UpdateMemberAccountPasswordRequest"/>
  </message>
  <message name="UpdateMemberAccountPasswordResponse">
  	<part name="UpdateMemberAccountPasswordReturn" element="tns:UpdateMemberAccountPasswordResponse"/>
  </message>
  <message name="UpdateMemberAccountPasswordFault">
  	<part name="fault" element="tns:UpdateMemberAccountPasswordFault"/>
  </message>
  <portType name="LoyaltyMemberSecurityV2PortType">




    <operation name="ValidateLoyaltyCredentials">
      <input message="wsdltns:ValidateLoyaltyCredentialsRequest"/>
      <output message="wsdltns:ValidateLoyaltyCredentialsResponse"/>
      <fault name="Fault1" message="wsdltns:LoyaltyMemberSecurityFault"/>
    </operation>
    <operation name="UpdateMemberAccountPassword">
    	<input message="wsdltns:UpdateMemberAccountPasswordRequest"></input>
    	<output message="wsdltns:UpdateMemberAccountPasswordResponse"></output>
            <fault name="fault" message="wsdltns:LoyaltyMemberSecurityFault"></fault>
        </operation>
  </portType>
  <binding name="LoyaltyMemberSecurityV2Binding" type="wsdltns:LoyaltyMemberSecurityV2PortType">
    <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ValidateLoyaltyCredentials">
      <SOAP:operation soapAction="http://www.LoyaltyMemberSecurityV2.com/ValidateLoyaltyCredentials"/>
      <input>
      <SOAP:header use="literal" part="Security" message="wsdltns:WS-Security-SOAPHeader"/>
        <SOAP:body use="literal"/>
      </input>
      <output>
        <SOAP:body use="literal"/>
      </output>
      <fault name="Fault1">
        <SOAP:fault name="Fault1" use="literal"/>
      </fault>
    </operation>
    <operation name="UpdateMemberAccountPassword">
       <SOAP:operation soapAction="http://www.LoyaltyMemberSecurityV2.com/UpdateMemberAccountPassword"/>
      <input>
      <SOAP:header use="literal" part="Security" message="wsdltns:WS-Security-SOAPHeader"/>
        <SOAP:body use="literal"/>
      </input>
      <output>
        <SOAP:body use="literal"/>
      </output>
      <fault name="fault">
        <SOAP:fault name="fault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="LoyaltyMemberSecurityV2Service">
    <port name="LoyaltyMemberSecurityV2Port" binding="wsdltns:LoyaltyMemberSecurityV2Binding">
      <SOAP:address location="$$$update this with the actual address before using$$$"/>
    </port>
  </service>
</definitions>
