src/engine/aa/wsdl/LoyaltyMemberSecurityV3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://custhub.ct.aa.com/LoyaltyMemberSecurityV3/WSDL"
	xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://custhub.ct.aa.com/LoyaltyMemberSecurityV3"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdltns="http://custhub.ct.aa.com/LoyaltyMemberSecurityV3/WSDL"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<!-- ================================================ -->
		<!-- This file was generated by Progress DataXtend SI -->
		<!-- ================================================ -->

		<!-- Export Configuration options -->
		<!-- ============================ -->
		<!-- complex types only - false -->
		<!-- include required rules - true -->
		<!-- include reverse relationships - false -->
		<!-- export with weak typing - false -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://custhub.ct.aa.com/LoyaltyMemberSecurityV3"
			xmlns:tns="http://custhub.ct.aa.com/LoyaltyMemberSecurityV3"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="unqualified"
			attributeFormDefault="unqualified">


			<!-- The type: LoyaltyMemberSecurityV3.ErrorTypeEnum -->
			<xs:simpleType name="ErrorTypeEnum">
				<xs:restriction base="xs:string">
					<xs:enumeration value="B" />
					<xs:enumeration value="S" />
				</xs:restriction>
			</xs:simpleType>
			<!-- The type: LoyaltyMemberSecurityV3.FaultType -->
			<xs:element name="FaultType" type="tns:FaultType" />
			<xs:complexType name="FaultType">
				<xs:sequence>
					<xs:element name="ErrorCd" type="xs:string" />
					<xs:element name="ErrorType" type="tns:ErrorTypeEnum" />
					<xs:element name="ErrorMessage" type="xs:string" />
				</xs:sequence>
			</xs:complexType>


			<!-- The type: LoyaltyMemberSecurityV3.ListResponseHdrStatusType -->
			<xs:element name="ListResponseHdrStatusType" type="tns:ListResponseHdrStatusType" />
			<xs:complexType name="ListResponseHdrStatusType">
				<xs:complexContent>
					<xs:extension base="tns:ResponseStatusType">
						<xs:sequence>
							<xs:element name="Info" type="xs:string" minOccurs="0"
								maxOccurs="unbounded" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<!-- The type: LoyaltyMemberSecurityV3.ListResponseHeaderType -->
			<xs:element name="ListResponseHeaderType" type="tns:ListResponseHeaderType" />
			<xs:complexType name="ListResponseHeaderType">
				<xs:complexContent>
					<xs:extension base="tns:ResponseHeaderType">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>


			<!-- The type: LoyaltyMemberSecurityV3.ProviderSystemErrorTypeEnum -->
			<xs:simpleType name="ProviderSystemErrorTypeEnum">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ERROR" />
					<xs:enumeration value="INFO" />
					<xs:enumeration value="WARN" />
				</xs:restriction>
			</xs:simpleType>
			<!-- The type: LoyaltyMemberSecurityV3.ProviderSystemInfo -->
			<xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo" />
			<xs:complexType name="ProviderSystemInfo">
				<xs:sequence>
					<xs:element name="ProviderSystemID" type="xs:string" />
					<xs:element name="Type" type="tns:ProviderSystemErrorTypeEnum" />
					<xs:element name="Code" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Message" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>

			<!-- The type: LoyaltyMemberSecurityV3.RequestHeaderType -->
			<xs:element name="RequestHeaderType" type="tns:RequestHeaderType" />
			<xs:complexType name="RequestHeaderType">
				<xs:sequence>
					<xs:element name="ClientID" type="xs:string" />
					<xs:element name="WsdlVersion" type="xs:string" />
					<xs:element name="ServiceType" type="xs:string" />
					<xs:element name="ApplicationID" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<!-- The type: LoyaltyMemberSecurityV3.ResponseHeaderType -->
			<xs:element name="ResponseHeaderType" type="tns:ResponseHeaderType" />
			<xs:complexType name="ResponseHeaderType">
				<xs:sequence>
					<xs:element name="ResponseStatus" type="tns:ResponseStatusType" />
					<xs:element name="ServiceInfo" type="tns:ServiceInfoType" />
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="ResponseStatusCodeEnum">
		      <xs:restriction base="xs:int">
		         <xs:enumeration value="0"/>
		         <xs:enumeration value="10"/>
		         <xs:enumeration value="11"/>
		         <xs:enumeration value="22"/>
		         <xs:enumeration value="23"/>
		         <xs:enumeration value="24"/>
		         <xs:enumeration value="25"/>
		         <xs:enumeration value="26"/>
		         <xs:enumeration value="27"/>
		         <xs:enumeration value="29"/>
		         <xs:enumeration value="30"/>
		         <xs:enumeration value="35"/>
		         <xs:enumeration value="36"/>
		         <xs:enumeration value="37"/>
		         <xs:enumeration value="38"/>
		         <xs:enumeration value="40"/>
		         <xs:enumeration value="41"/>
		         <xs:enumeration value="42"/>
		         <xs:enumeration value="43"/>
		         <xs:enumeration value="99"/>
		      </xs:restriction>
		   </xs:simpleType>
		   <!-- The type: LoyaltyMemberSecurityV2.ResponseStatusMessageEnum -->
		   <xs:simpleType name="ResponseStatusMessageEnum">
		      <xs:restriction base="xs:string">
		         <xs:enumeration value="AAdvantageCustomerIdentifier Required"/>
		         <xs:enumeration value="AADV Contact Invalid"/>
		         <xs:enumeration value="Contact Reason Identifier Not Found"/>
		         <xs:enumeration value="Contact Type Not Allowed For Subscription"/>
		         <xs:enumeration value="Contact Value Must Be Same In Subscription And Customer"/>
		         <xs:enumeration value="CUPID Not Found"/>
		         <xs:enumeration value="Currency Code Not Found"/>
		         <xs:enumeration value="Customer Contact Reason Already Exist"/>
		         <xs:enumeration value="CustomerResolutionTransaction Already Exists"/>
		         <xs:enumeration value="Discontinued Contact Reason Can Not Be Assigned To Customer"/>
		         <xs:enumeration value="Duplicate Contact"/>
		         <xs:enumeration value="Duplicate Key"/>
		         <xs:enumeration value="Exceeding Subscription Allow Contact Qty"/>
		         <xs:enumeration value="No Results"/>
		         <xs:enumeration value="PNR Identifier Not Found"/>
		         <xs:enumeration value="Provider System Error"/>
		         <xs:enumeration value="Resolution Identifier Not Found"/>
		         <xs:enumeration value="Subscription Already Exist For This Product Code"/>
		         <xs:enumeration value="Success"/>
		         <xs:enumeration value="Unknown Error"/>
		      </xs:restriction>
		   </xs:simpleType>
			<!-- The type: LoyaltyMemberSecurityV3.ResponseStatusType -->
			<xs:element name="ResponseStatusType" type="tns:ResponseStatusType" />
			<xs:complexType name="ResponseStatusType">
				<xs:sequence>
					<xs:element name="Code" type="xs:int" minOccurs="0" />
					<xs:element name="Message" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>



			<!-- The type: LoyaltyMemberSecurityV3.ServiceInfoType -->
			<xs:element name="ServiceInfoType" type="tns:ServiceInfoType" />
			<xs:complexType name="ServiceInfoType">
				<xs:sequence>
					<xs:element name="ServiceName" type="xs:string" />
					<xs:element name="ServiceInstance" type="xs:string" />
					<xs:element name="WSDLVersion" type="xs:string" />


				</xs:sequence>
			</xs:complexType>
			<!-- The type: LoyaltyMemberSecurityV3.ValidateLoyaltyCredentialsRequest -->
			<xs:element name="ValidateLoyaltyCredentialsRequest" type="tns:ValidateLoyaltyCredentialsRequest" />
			<xs:complexType name="ValidateLoyaltyCredentialsRequest">
				<xs:complexContent>
					<xs:extension base="tns:RequestHeaderType">
						<xs:sequence>
							<xs:element name="ValidateLoyaltyCredentialsRequestItem"
								type="tns:ValidateLoyaltyCredentialsRequestItem" maxOccurs="1" />
							<xs:element name="AuditID" type="xs:string" minOccurs="1" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<!-- The type: LoyaltyMemberSecurityV3.ValidateLoyaltyCredentialsRequestItem -->
			<xs:element name="ValidateLoyaltyCredentialsRequestItem"
				type="tns:ValidateLoyaltyCredentialsRequestItem" />
			<xs:complexType name="ValidateLoyaltyCredentialsRequestItem">
				<xs:sequence>

					<xs:element name="LoginPassword" type="xs:string"
						minOccurs="1" />

					<xs:element name="ExtraIdData" type="tns:ExtraIdData"
						maxOccurs="unbounded" minOccurs="0">
					</xs:element>
					<xs:choice>
						<xs:element name="LoginId" type="xs:string" minOccurs="0"
							maxOccurs="1" />

						<xs:element name="LoyaltyMemberAccount" minOccurs="0"
							maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LoyaltyAccountNumber" type="xs:string"
										minOccurs="1" maxOccurs="1">
									</xs:element>
									<xs:element name="LoyaltyProgramCode" type="xs:string"
										minOccurs="1" maxOccurs="1"></xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>

   	</xs:sequence>
			</xs:complexType>
			<!-- The type: LoyaltyMemberSecurityV3.ValidateLoyaltyCredentialsResponse -->
			<xs:element name="ValidateLoyaltyCredentialsResponse"
				type="tns:ValidateLoyaltyCredentialsResponse" />
			<xs:complexType name="ValidateLoyaltyCredentialsResponse">
				<xs:complexContent>
					<xs:extension base="tns:ListResponseHeaderType">
						<xs:sequence>
							<xs:element name="ValidateLoyaltyCredentialsResult"
								type="tns:ValidateLoyaltyCredentialsResult" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<!-- The type: LoyaltyMemberSecurityV3.ValidateLoyaltyCredentialsResult -->
			<xs:element name="ValidateLoyaltyCredentialsResult" type="tns:ValidateLoyaltyCredentialsResult" />
			<xs:complexType name="ValidateLoyaltyCredentialsResult">
				<xs:sequence>
					<xs:element name="ValidateLoyaltyCredentialsStatus"
						type="tns:ValidateLoyaltyCredentialsStatus" />
					<xs:element name="ValidationFailCount" type="xs:string" />



					<xs:element name="LoyaltyMemberAccount" minOccurs="0"
						maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="LoyaltyAccountNumber" type="xs:string"
									minOccurs="1" maxOccurs="1">
								</xs:element>
								<xs:element name="LoyaltyProgramCode" type="xs:string"
									minOccurs="1" maxOccurs="1"></xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<!-- The type: LoyaltyMemberSecurityV3.ValidateLoyaltyCredentialsStatus -->
			<xs:element name="ValidateLoyaltyCredentialsStatus" type="tns:ValidateLoyaltyCredentialsStatus" />
			<xs:complexType name="ValidateLoyaltyCredentialsStatus">
				<xs:sequence>

<xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo" maxOccurs="unbounded"/>
         
         <xs:element name="Code" type="xs:int"/>
         <xs:element name="Message" type="xs:string"/>
      </xs:sequence>
			</xs:complexType>

			<!-- <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://custhub.ct.aa.com/LoyaltyMemberSecurityV3/WSDL"> -->
			<xs:element name="UpdateMemberAccountPassword">
				<xs:complexType>
					<xs:sequence>

						<xs:element name="in" type="xsd:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="UpdateMemberAccountPasswordRequest"
				type="tns:UpdateMemberAccountPasswordRequest" />

			<xs:complexType name="UpdateMemberAccountPasswordRequest">
				<xs:complexContent>
					<xs:extension base="tns:RequestHeaderType">
						<xs:sequence>
							<xs:element name="UpdateMemberAccountPasswordRequestItem"
								type="tns:UpdateMemberAccountPasswordRequestItem" maxOccurs="unbounded" />
							<xs:element name="AuditID" type="xs:string" minOccurs="1" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:element name="UpdateMemberAccountPasswordRequestItem"
				type="tns:UpdateMemberAccountPasswordRequestItem" />
			<xs:complexType name="UpdateMemberAccountPasswordRequestItem">
				<xs:sequence>
					<xs:element name="LoyaltyAccountNumber" type="xs:string"
						minOccurs="1" />
					<xs:element name="LoyaltyAccountPasswordText" type="xs:string"
						minOccurs="1" />
					<xs:element name="PwdTempIndicator" type="xs:boolean"
						default="false" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="UpdateMemberAccountPasswordResponse"
				type="tns:UpdateMemberAccountPasswordResponse" />
			<xs:complexType name="UpdateMemberAccountPasswordResponse">
				<xs:complexContent>
					<xs:extension base="tns:ListResponseHeaderType">
						<xs:sequence>
							<xs:element name="UpdateMemberAccountPasswordResult"
								type="tns:UpdateMemberAccountPasswordResult" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:element name="UpdateMemberAccountPasswordResult" type="tns:UpdateMemberAccountPasswordResult" />
			<xs:complexType name="UpdateMemberAccountPasswordResult">
				<xs:sequence>
					<xs:element name="UpdateMemberAccountPasswordStatus"
						type="tns:UpdateMemberAccountPasswordStatus" />
					<xs:element name="PasswordFailCount" type="xs:int"
						minOccurs="1" />
					<xs:element name="UpdateMemberAccountPasswordRequestItem"
						type="tns:UpdateMemberAccountPasswordRequestItem" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="UpdateMemberAccountPasswordStatus" type="tns:UpdateMemberAccountPasswordStatus" />
			<xs:complexType name="UpdateMemberAccountPasswordStatus">
				<xs:sequence>

				<xs:element name="ProviderSystemInfo" type="tns:ProviderSystemInfo" maxOccurs="unbounded"/>
		         <xs:element name="Code" type="tns:ResponseStatusCodeEnum"/>
		         <xs:element name="Message" type="tns:ResponseStatusMessageEnum"/>
		      </xs:sequence>
			</xs:complexType>

			<xs:element name="UpdateMemberAccountPasswordFault" type="tns:FaultType1" />
			<xs:complexType name="FaultType1">
				<xs:sequence>
					<xs:element name="ErrorCd" type="xs:string" />
					<xs:element name="ErrorType" type="tns:ErrorTypeEnum" />
					<xs:element name="ErrorMessage" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ExtraIdData">
				<xs:sequence>
					<xs:element name="IdType" maxOccurs="1" minOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="EMAIL"></xs:enumeration>

								<xs:enumeration value="ZIPCODE">
								</xs:enumeration>
								<xs:enumeration value="LASTNAME"></xs:enumeration>
								<xs:enumeration value="FIRSTNAME"></xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="IdValue" type="xs:string" minOccurs="1"
						maxOccurs="1">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="ValidateLoyaltyCredentialsResponse">
		<part name="ValidateLoyaltyCredentialsResponse" element="tns:ValidateLoyaltyCredentialsResponse" />
	</message>
	<message name="LoyaltyMemberSecurityFault">
		<part name="FaultType" element="tns:FaultType" />
	</message>
	<message name="ValidateLoyaltyCredentialsRequest">
		<part name="request" element="tns:ValidateLoyaltyCredentialsRequest" />
	</message>
	<message name="UpdateMemberAccountPasswordRequest">
		<part name="request" element="tns:UpdateMemberAccountPasswordRequest" />
	</message>
	<message name="UpdateMemberAccountPasswordResponse">
		<part name="UpdateMemberAccountPasswordResponse" element="tns:UpdateMemberAccountPasswordResponse" />
	</message>
	<message name="UpdateMemberAccountPasswordFault">
		<part name="fault" element="tns:UpdateMemberAccountPasswordFault" />
	</message>
	<portType name="LoyaltyMemberSecurityV3PortType">
		<operation name="ValidateLoyaltyCredentials">
			<input message="wsdltns:ValidateLoyaltyCredentialsRequest" />
			<output message="wsdltns:ValidateLoyaltyCredentialsResponse" />
			<fault name="Fault1" message="wsdltns:LoyaltyMemberSecurityFault" />
		</operation>
		<operation name="UpdateMemberAccountPassword">
			<input message="wsdltns:UpdateMemberAccountPasswordRequest"></input>
			<output message="wsdltns:UpdateMemberAccountPasswordResponse"></output>
			<fault name="fault" message="wsdltns:LoyaltyMemberSecurityFault"></fault>
		</operation>
	</portType>
	<binding name="LoyaltyMemberSecurityV3Binding" type="wsdltns:LoyaltyMemberSecurityV3PortType">
		<SOAP:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="ValidateLoyaltyCredentials">
			<SOAP:operation
				soapAction="http://www.LoyaltyMemberSecurityV3.com/ValidateLoyaltyCredentials" />
			<input>
				<SOAP:body use="literal" />
			</input>
			<output>
				<SOAP:body use="literal" />
			</output>
			<fault name="Fault1">
				<SOAP:fault name="Fault1" use="literal" />
			</fault>
		</operation>
		<operation name="UpdateMemberAccountPassword">
			<SOAP:operation
				soapAction="http://www.LoyaltyMemberSecurityV3.com/UpdateMemberAccountPassword" />
			<input>
				<SOAP:body use="literal" />
			</input>
			<output>
				<SOAP:body use="literal" />
			</output>
			<fault name="fault">
				<SOAP:fault name="fault" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="LoyaltyMemberSecurityV3Service">
		<port name="LoyaltyMemberSecurityV3Port" binding="wsdltns:LoyaltyMemberSecurityV3Binding">
			<SOAP:address
				location="https://aapartner.esoa.aa.com/LoyaltyMemberSecurityService/V3" />
		</port>
	</service>
</definitions>
